---
dist: xenial
language: python
python:
  - "3.7"
branches:
  only:
    - master
    - alpha

services:
  - docker

install:
  - docker pull localstack/localstack
  - pip install -r requirements.txt

script:
  - molecule --debug test
